.bs-docs-sidenav li a {
    display: block;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .5;
}